<div id="createside"><h1>Test creation</h1>
  <table>
    <tr>
      <td>Title:</td>
      <td><input [(ngModel)]="test.title" type="text" placeholder="Text.."></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input [(ngModel)]="test.price" type = "number"></td>
    </tr>
    <tr>
      <td>Type:</td>
      <td><input [(ngModel)]="test.type" type = "text" placeholder="Text.."></td>
    </tr>
    <tr>
      <td id="description">Description:</td>
      <td><textarea [(ngModel)]="test.description" maxlength="255" placeholder="Text.."></textarea></td>
    </tr>
  </table>
  <br><br>




  <div id ="add-question">
    <table>
      <tr>
        <td>Question:</td>
        <td><input [(ngModel)]="currentQuestion.text" type ="text" placeholder="Text.."></td>
      </tr>
      <tr>
        <td>Add choice</td>
        <td>
          <input maxlength="90" id="choiceinput" [(ngModel)]="currentChoice.text" type ="text" placeholder="Choice.....">
          <input id="addchoicebutton" type ="button" value = "Add Choice" (click) = "createChoice()"></td>
      </tr>
    </table>

    <table>
      <th *ngIf="currentQuestion.text">{{currentQuestion.text}}</th>
      <td id="choiceitem" *ngFor="let choice of choices" > {{choice.text}} </td>
    </table>

    <div id = "add-choice">
      <span *ngIf = "showChoiceError">
        {{choiceError}}
      </span>

    </div>


    Select answer:
    <select id="choices" name="answer" [(ngModel)] = "currentQuestion.answer">
      <option *ngFor="let choice of choices" [value]="choice.text">{{choice.text}}</option>
    </select>
    <span *ngIf = "showQuestionError">
      {{questionError}}
    </span>
    <br>
    <input type = "button" value ="Add question" (click) = "createQuestion()">
  </div>
  <br>
  <input type="button" value="Create test" (click) = "createTest()">
</div>

<div id="previewside"><h1>Preview</h1><h2 *ngIf="test.title">{{test.title}}</h2>
  <div  id = "questions" *ngFor ="let question of questions" >

    <table>
      <th *ngIf="question.text">{{question.text}}</th>
      <td id="choiceitem" *ngFor="let choice of question.choices" > {{choice.text}} </td>
    </table>

  </div>
</div>

<span *ngIf = "showTestError">
  {{testError}}
</span>

