<h1>Test creation</h1>
Title: <input [(ngModel)]="test.title" type="text" placeholder="Title"><br>
Description: <textarea [(ngModel)]="test.description" placeholder="Description....."></textarea><br>
Price: <input [(ngModel)]="test.price" type = "number"><br>
Type: <input [(ngModel)]="test.type" type = "text">


<h1>Add question</h1>
<div id ="add-question">
  Text: <input [(ngModel)]="currentQuestion.text" type ="text" placeholder="Text..">
  <h1>Add choice</h1>
  <div id = "add-choice">
    Text: <input [(ngModel)]="currentChoice.text" type ="text" placeholder="Choice.....">
    <span *ngIf = "showChoiceError">
      {{choiceError}}
    </span>
    <br>
    <input type ="button" value = "Add Choice" (click) = "createChoice()">
  </div>
  Select answer:
  <select id="choices" name="answer" [(ngModel)] = "currentQuestion.answer">
    <option *ngFor="let choice of choices" [value]="choice.text">{{choice.text}}</option>
  </select>
  <span *ngIf = "showQuestionError">
    {{questionError}}
  </span>
  <br>
  <input type = "button" value ="Add question" (click) = "createQuestion()">
</div>
<h2>Added questions</h2>
<div id = "questions" *ngFor ="let question of questions">
  {{question.text}}
  <ul *ngFor = "let choice of question.choices">
    <li>{{choice.text}}</li>
  </ul>
</div>
<span *ngIf = "showTestError">
  {{testError}}
</span>
<br>
<input type="button" value="Create test" (click) = "createTest()">
