<div class="logincontainer">
	<section id="logincontent">
		<form action="">
			<h1>Login</h1>
			<div>
				<input [(ngModel)]="loginDetails.username" type="text" name="username" placeholder="Username">
			</div>
			<div>
                <input type="password" [(ngModel)]="loginDetails.password" name="pass" placeholder="Password">
			</div>
			<div>
				<input type="submit" (click)="getAuth()" value="Log in" />
				<a href="#">Lost your password?</a>
				<a routerLink = "/register">Register</a>
			</div>
		</form><!-- form -->
		<div class="button">
			<span class="error" *ngIf="showError">{{ errorMessage }}</span><br>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->


