.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover{
    cursor: pointer;
}
#tests{
    align-content: center;
    
}
#test-list{
    width: 30vw;
    margin: auto;
    margin-bottom: 5px;
    height: 80px;
    background-color: #8e8f8f50;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    box-shadow: 0 6px 6px -6px black;
}
#tests :hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
h1{
    text-align: center;
}
#test-title{
    font-size: 30px;
    font-weight: bold;
}

.tooltip {
    position:relative;
    text-align:left;
}

.tooltip .right {
    min-width:200px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}