
<div id="searchbar">
  <label for="titleinput">Title:</label>
  <input type="text" name="titleinput">
  <label for="ratingmin"> Minimum rating:</label>
  <input type="number"  name="ratingmin" min="0" max="5">
  <label for="ratingmax"> Maximum rating:</label>
  <input type="number"  name="ratingmax" min="0" max="5">
  <label for="pricemax"> Maximum price:</label>
  <input type="number" name="pricemax" min=0 max="999">
  <label for="creatorinput">Creator</label>
  <input type="text" name="creatorinput">

  <input type="button" value="Search">

</div>

<div class="testlist">
  <div id="itemAmountButtons">
    Items per page:
    <button id="amountbutton" (click)="setPagesize(10)">10</button>
    <button id="amountbutton" (click)="setPagesize(20)">20</button>
    <button id="amountbutton" (click)="setPagesize(50)">50</button>
    <button id="amountbutton" (click)="setPagesize(100)">100</button>
  </div>

  <div id="listheader">
    <div class="title" (click)="orderByTitle()">
      Title
    </div>
    <div class="rating" (click)="orderByRating()" >
      Rating
    </div>
    <div class="price" (click)="orderByPrice()">
      Price
    </div>
    <div class="creator">
      Creator
    </div>
    <div class="description">
      Description
    </div>
  </div>

  <div  *ngFor="let test of tests" routerLink = "/test/{{test.id}}">
    <div id="testitem">
      <div class="title">
        {{test.title}}
      </div>
      <div class="rating">
        {{test.rating}} <p id="star">★</p>
      </div>
      <div class="price">
        {{test.price}} $
      </div>
      <div class="creator">
        {{test.creator.username}}
      </div>
      <div class="description">
        {{test.description}}
      </div>
    </div>

  </div>
</div>
<div *ngIf="pages.length > 1" id="pager">
  <div class="pagination" (click)="goto(num)" *ngFor = "let num of pages">
    <a  >{{num+1}}</a>
  </div>
</div>
