<div *ngIf="test" id = "testDiv">
  <h1>{{test.title}}</h1>
  <div id = "questionsDiv" *ngFor = "let question of questions;let i = index">
    <h2>{{question.text}}</h2>
    <div id = "choicesDiv" *ngFor = "let choice of question.choices">
      <input type ="radio" [name] = i [value] = choice.text (change) = "setChanged($event)" >{{choice.text}}
    </div>
  </div>
  <input type = "button" value="Done" (click) = "takeTest()">
  <div id = "resultsDiv" *ngIf = "showResult">
    Result: {{testResult.percentage}} %
    <input type = "button" value = "Show answers" (click) = "showAnswers()">
    <div *ngIf ="showQuestionAnswers">
      <div id = "questionResults" *ngFor = "let answer of testResult.solutions">
        {{answer.id}} -  {{answer.solution}}
      </div>
    </div>
  </div>
</div>