<div *ngIf="test" id = "testDiv">
  <h1>{{test.title}}</h1>

  <div id="previewside"><h2 *ngIf="test.title">{{test.title}}</h2>
    <div  id = "questions" *ngFor ="let question of questions;let i = index" >
      <table>
        <th *ngIf="question.text">{{question.text}}</th>
        <td id="choiceitem" *ngFor="let choice of question.choices" >
          <label id="choicelabel">
            <input id="choiceRadio" type ="radio" [name] = i [value] = choice.text (change) = "setChanged($event)" >
            <span>{{choice.text}}</span>
          </label>
        </td>
      </table>
    </div>
    <input id="submit" type = "button" value="Done" (click) = "takeTest()">
  </div>
  <br>

  <div id = "resultsDiv" *ngIf = "showResult">
    Result: {{testResult.percentage}} %
    <div *ngIf = "testTaken">
      <div class="rate" *ngIf = "test.live">
        <p>Please rate this test:</p>

        <div *ngIf = "testTaken" id ="ratediv" class="rating">
            <input type="radio" id="star5" name="rating" value="5"  (click) = "liveRate(5)"/><label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4"  (click) = "liveRate(4)"/><label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3"  (click) = "liveRate(3)"/><label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2"  (click) = "liveRate(2)"/><label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1"  (click) = "liveRate(1)"/><label for="star1"></label>
        </div>
      </div>

      <div class="rate" *ngIf = "!test.live">
        <p>Votes: </p><p *ngIf="!testTaken">{{test.poolRating}}</p>

        <div *ngIf = "testTaken" id ="circle" class="vote circle">
          <div class="increment up" (click) = "poolRate('positive')"></div>
          <div class="increment down"  (click) = "poolRate('negative')"></div>
          <div class="count">{{test.poolRating}}</div>

        </div>


      </div>
      <p *ngIf="voted">Thank you for your feedback!</p>

    </div>
    <input type = "button" value = "Show answers" (click) = "showAnswers()">
    <div *ngIf ="showQuestionAnswers">
      <div id = "questionResults" *ngFor = "let answer of testResult.solutions">
        {{answer.id}} -  {{answer.solution}}
      </div>
    </div>

  </div>
</div>
