ul {
  margin:0px 0px 50px 0px;
  text-align: left;
  height:70px;
  min-width: 280px;
  position: fixed;
  left:0px;
  top:0px;
  line-height: 3;
  overflow-x:scroll;
  white-space: nowrap;
  overflow: visible;
}

::-webkit-scrollbar {
  display: none;
}

li {
  display:inline-block;
  margin:11px 60px;
}

li :hover {
  background-color: #467474;
  border-radius: 5px;
}

li a {
  color:#e5f8f8;
  text-decoration: none;
  padding:11px;
  font-weight: bolder;
}

p{
  font-size: 30px;
  font-weight: bolder;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  right:10px;
  top:-10px;
  display:inline-block;
}

#t,#e {
  font-size: 40px;
  position: fixed;
  top:12px;
  padding:0;
  margin:0;
}

#t {
  color:#7fdada;
  right:193px;
}

#e {
  color:#71fc83;
  right:184px;
  border-radius: 3px;
  padding-left:10px;
  text-shadow: 1px 1px #ffffff;
  background-color: #485761;
  border-radius: 20px;
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#logo {
  width:80px;
  height:80px;
  position: fixed;
  display: inline-block;
  right:160px;
  top:-5px;
}

#logo:hover {
  -webkit-animation: spin 2s;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


a:hover {
  cursor: pointer;
}

#testenginesign {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#7fdada;
  text-shadow: 1px 1px 0 black;

}

#navbg {
  margin:0px 0px 50px 0px;
  background-color: #365757;
  background-image: linear-gradient(to bottom right, #365757, #7fdada);
  height:70px;
  box-shadow: 0 8px 6px -6px black;
  width:100%;
  min-width: 220px;
  position: fixed;
  left:0px;
  top:0px;
}


.dropdown {
  padding:10px;
  display: inline-block;
  color:#e5f8f8;
  text-decoration: none;
  font-weight: bolder;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #365757;
  background-image: linear-gradient(to bottom right, #365757, #7fdada);
  border-radius: 5px;
  width: 110px;
  height:max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown-content li {
  margin:5px auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}


