ul {
  margin:0px 0px 50px 0px;
  background-color: #365757;
  text-align: center;
  height:40px;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 3px 3px;
  overflow: hidden;
}

li {
  display:inline-block;
  margin:11px 60px;
}

li :hover {
  background-color: #467474;
  border-radius: 5px;
}

li a {
  color:#e5f8f8;
  text-decoration: none;
  padding:11px;
  font-weight: bolder;
}
