<div *ngIf = "test" id="detail-page">
  <div id = "test-details" >
    <h1>{{test.title}}</h1>
    <div id="reportButton"><button mat-raised-button (click)="openDialog()">Report test</button></div>
    <div id="creator" routerLink = "/user/{{test.creator.username}}"> <p>Created by: {{test.creator.username}}</p></div>


    <div id="description"><p>{{test.description}}</p></div>

    <div id="rating">
      <div class="rate" *ngIf = "!test.live">
        <p>Votes: </p><p *ngIf="!testTaken">{{test.poolRating}}</p>

        <div *ngIf = "testTaken" id ="circle" class="vote circle">
          <div class="increment up" (click) = "poolRate('positive')"></div>
          <div class="increment down"  (click) = "poolRate('negative')"></div>
          <div class="count">{{test.poolRating}}</div>

        </div>


      </div>

      <div class="rate" *ngIf = "test.live">
        <p>Rating: {{test.rating}}</p>

        <div *ngIf = "testTaken" id ="ratediv" class="rating">
            <input type="radio" id="star5" name="rating" value="5"  (click) = "liveRate(5)"/><label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4"  (click) = "liveRate(4)"/><label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3"  (click) = "liveRate(3)"/><label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2"  (click) = "liveRate(2)"/><label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1"  (click) = "liveRate(1)"/><label for="star1"></label>
        </div>
      </div>


    </div>
    </div>

    <div id="price"><p>Price: {{test.price}} $</p><button id="buy" *ngIf="test.price > 0">Buy</button></div>



  <input type = "button" id = "taketest" value = "Take test" (click) = "takeTest()">
</div>
