@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
/* voting */
.roundrect .up {
  border-radius: 2rem 2rem 0 0;
}
.roundrect .down {
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count {
  border-radius: 0.5rem 0.5rem;
}

.chev .up {
  border-radius: 50% 50% 0 0;
}
.chev .down {
  border-radius: 0 0 50% 50%;
}
.chev .count {
  border-radius: 100%/50%;
}

.circle .up {
  border-radius: 10rem 10rem 0 0;
}
.circle .down {
  border-radius: 0 0 10rem 10rem;
}
.circle .count {
  border-radius: 50%;
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}

#circle {
  display: inline-block;
  top:15px;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  margin-bottom: 0.1rem;
}
.increment.down {
  background: #C15044;
  height: 50%;
}
.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 10px;
  left:4px;
  text-align: center;
  width: 1.5rem;
  font-size: 1rem;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}

/* voting end*/



/* rating css */
.rating {
  width: 130px;
  height: 10px;
  margin: 0 auto;
  padding: 10px 20px;
}
.rating label {
  float: right;
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
}
.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "★";
  font-size: 26px;
  color: #CCCCCC;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
  color: #F9DF4A;
}
/* rating css end*/

.rate p{
  display: inline-block;
}

#ratediv {
  display: inline-block;
}

#poolDiv{
  display: inline-block;
}

.rate {
  position: relative;
  width:80%;
}





#detail-page {
  padding-top:10px;
  padding-left: 40px;
  padding-right: 40px;
}

#creator {
  background-color: rgb(202, 206, 206);
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
  border-radius: 50%;
  margin-bottom: 40px;
  float: right;
}

#creator p {
  position: relative;
  margin-top: 30px;
}

#creator :hover{
  cursor: pointer;
}



#description {
  margin-top: 50px;
  display: inline-block;
  width: 80%;
}

h1 {
  margin-bottom: -5px;
}

#price p {
  display:inline-block;
}

#buy {
  display: inline-block;
  margin-left: 5px;
}

#test-details h1{
  border: 1px;
  border-style: double;
  background: rgb(202, 206, 206);
  text-align: center;
}

#description {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#description:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#description p {
  display: inline;
}



