/* popular container styles */

#popular-container {
  width: 95%;
  min-width: 480px;
  margin:auto;
  border-radius: 10px;
  height:100px;
  box-shadow: 0 4px 9px -4px #365757;
  background-color: #f0f0f0;
  display:flex;


}

.popularbutton {
  height: 95px;
  margin-top:2px;
  font-size: 25px;
  border:none;
  background-color: #365757;
  border-radius: 5px;
  width:15px;
  padding:0;
  color:#7fdada;

}

.popularbutton:hover {
  background-color: #588888;
}

#button-left {
  float: left;
  margin-left:5px;
}

#button-right {
  float:right;
  margin-right:5px;
}

#popular-item {
  height:95px;
  margin-top: 2px;
  margin:auto;
  width:100%;
  display: inline-block;
  overflow-wrap: break-word;
  overflow: hidden;
  float: none;
  background-color: white;
  border-radius: 2px;
}

.testInfo {
  display:inline-block;
  overflow: hidden;
}

#testtitle {
  position: relative;
  top:10px;
  left:10px;
  font-size: 20px;
  color: #365757;
  font-weight: bold;
  float: left;
  width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#testrating {
  position: relative;
  top:12px;
  margin-left: 30px;
  width:120px;
  float: left;

}

#testcreator {
  position: relative;
  left:-310px;
  top:-20px;
}

#testprice {
  float: right;
  position: relative;
  right: 20px;
  font-size: 45px;
  margin-top:25px;
  font-weight: bold;
  color:#588888;

}

#testdescription {
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height:45px;
  margin-top: 25px;
  color: #365757;
}

#star {
  display: inline-block;
  content: "★";
  font-size: 22px;
  line-height: 0.7;
  color: #F9DF4A;
  margin:0px;
  padding:0px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border:none;
}



/* news styles */

#news-container {
  width:460px;
  left:25px;
  height:100vh;
  border-radius: 5px;
  margin-top: 30px;
  overflow-y: auto;
  box-shadow: 0 4px 9px -4px #365757;
  background-color: #f0f0f0;
  padding:10px;
}

::-webkit-scrollbar {
  background-color: #588888;
}

::-webkit-scrollbar-thumb {
  background-color: #365757;
}

#newsItem {
  width:96%;
  height:200px;
  margin-top:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px #36575734;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #ffffff;
  padding:10px;
  font-weight: bold;
  color:#588888;
  border-radius: 2px;
}

#newsItem:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#home {
  padding:20px;
}

#older {
  color:#365757;
  font-weight: bold ;
  text-align: right;
}

#older:hover {
  cursor: pointer;
}

#newer {
  color:#365757;
  font-weight: bold ;
  text-align: left;
}

#newer:hover {
  cursor: pointer;
}

#articleTitle {
  font-size: 20px;
  height:25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color:#365757;

}

#articleTitle:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 20.1px;
}

#articleAuthor {
  font-size: 10px;
  font-weight: lighter;
  margin-top: 5px;
}

#articleContent {
  width:100%;
  height:150px;
  margin-top:15px;
  text-overflow: ellipsis;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: #3657573a 1px 1px 1px 1px;
  border-radius: 2px;
}
