<div class="logincontainer">
	<section id="logincontent">
		<form action="">
			<h1>Register</h1>
			<div>
			  <input [(ngModel)]="registerDetails.email" type="text" name="email" placeholder="E-mail"><br>
        <input [(ngModel)]="registerDetails.username" type="text" name="username" placeholder="Username"><br>
        <input type="password" [(ngModel)]="registerDetails.password" name="pass" placeholder="Password"><br>
        <input type="password" [(ngModel)]="registerDetails.confirmationPassword" name="pass" placeholder="Password confirm"><br>
			</div>
			<div>
				<input type="submit" (click)="register()" value="Register" />
			</div>
		</form><!-- form -->
		<div class="button">
			<span class="error" *ngIf="showError">{{ errorMessage }}</span><br>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->


