<div *ngIf="user">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Info</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">My works</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Finished tests</label>

  <section id="content1">
    {{user.username}} <br>
    {{user.rank}}
  </section>

  <section id="content2">
    <div>Live tests</div>
    <div *ngFor = "let test of tests" >
      <div routerLink="/testedit/{{test.id}}">{{test.title}} </div>
    </div>

    <div>Pool tests</div>
    <div *ngFor = "let pooltest of pooltests" >
      <div routerLink="/testedit/{{pooltest.id}}">{{pooltest.title}} </div>
    </div>
  </section>

  <section id="content3">
    <div *ngIf = "completedTests">
      <div *ngFor = "let completedtest of completedTests">
          {{completedtest.test.title}}
      </div>
    </div>
  </section>
</div>
