<div *ngIf="user">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Info</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">My works</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Finished tests</label>

  <section id="content1">
    {{user.username}} <br>
    {{user.rank}}
  </section>

  <section id="content2">
    <table>
      <tr>
        <td>
          <div class="testList" id="liveTests"><p>Live tests</p>
            <div *ngFor = "let test of tests" class="testItem" [ngStyle]="{'border': test.id === selectedLiveTest.id ? '1px solid black' : 'none' }">
              <div (click)="setSelectedLiveTest(test)">{{test.title}} </div>
            </div>
          </div>
        </td>
        <td>
          <div class="testList">
            <div class="testDetails" *ngIf="selectedLiveTest">
              <div class="buttonsContainer">
                <div class="routerButton" routerLink="/testedit/{{selectedLiveTest.id}}">Edit</div>
                <div class="routerButton" routerLink="/test/{{selectedLiveTest.id}}">Check</div>
                <div class="routerButton" >Delete</div>
              </div>
              <br>
              <p>Times taken by people:</p>
              <p>{{liveTimesTaken}}</p>
              <p>Average percentage:</p>
              <p>{{livePercentage}}</p>
              <p>Income:</p>
              <p *ngIf="selectedLiveTest.price == 0">Free test</p>
              <p *ngIf="selectedLiveTest.price != 0">{{liveIncome}}</p>
            </div>
          </div>
        </td>

        <td>
          <div class="testList" id="poolTests"><p>Pool tests</p>
            <div *ngFor = "let pooltest of pooltests" class="testItem" [ngStyle]="{'border': pooltest.id === selectedPoolTest.id ? '1px solid black' : 'none' }">
              <div (click)="setSelectedPoolTest(pooltest)" >{{pooltest.title}}</div>
            </div>
          </div>
        </td>
        <td>
          <div class="testList">
              <div class="testDetails" *ngIf="selectedPoolTest">
                <div class="buttonsContainer">
                  <div class="routerButton" routerLink="/testedit/{{selectedPoolTest.id}}">Edit</div>
                  <div class="routerButton" routerLink="/test/{{selectedPoolTest.id}}">Check</div>
                  <div class="routerButton" >Delete</div>
                </div>
                <br>
                <p>Times taken by people:</p>
                <p>{{poolTimesTaken}}</p>
                <p>Average percentage:</p>
                <p>{{poolPercentage}}</p>

              </div>
          </div>
        </td>
      </tr>
    </table>
  </section>

  <section id="content3">
    <div *ngIf = "completedTests">
      <div *ngFor = "let completedtest of completedTests">
          <p>{{completedtest.test.title}}   points:{{completedtest.actualPoints}}/{{completedtest.maxPoints}}   {{completedtest.percentage}}</p>
      </div>
    </div>
  </section>
</div>
